h1{
    color:darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4em;
    margin-top: 1.40em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
 
}
h2{
    color:darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    margin-top: 0.80em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}
